@import 'tailwindcss';
html {
	scroll-behavior: smooth;
}
@theme {
	--color-primary: #34d399;
}
#particles-background {
	position: absolute;
	height: 100%;
	width: 100%;
}

body {
	background-color: #fcfcfc;
}
